div{
    text-align: center;
}
h1{
    background-color: hsl(120,50%,60%);
    font-variant: small-caps;
    font-weight: 300;
}

h2.one#pec{
    background-color: #000000;
    color: rgba(250, 0, 0, 0.9);    
    margin:20px;
    font-family: cursive;
    font-style: italic;
}
.second{

    font-weight: 200;
    color: #ffff00;
    background-color: grey;
}
#third{
    font-style: oblique;
    color: rgb(241, 87, 48);
    background-color:beige;
}
p#db{
    text-decoration: line-through;
}
p{
    text-align: center;
    font-family: fantasy;
}
span p{
    color: #0000ff ;
    background-color: hsla(240,90%,80%,90%);
}