body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
div{
    width: 450px;
    height: 250px;
    position: absolute;
    margin: auto;
    top:0;
    left:0;
    right:0;
    bottom: 0;
}
p{
    font:bolder;
    font-size: 30px;
    font-weight: 700;
    color: rgb(55,65,81);
    text-align: center;
}
button{
    height: 40px;
    width: 150px;
    border: none;
    font-weight: 500;
    border-radius: 6px;
    padding: 10px; 
    font-size: 18px;
    margin:5px;
}
.lef{
    margin-left: 70px;
    background-color: #2663EB;
    color: aliceblue;
}
.righ{
    background-color: white;
    border: 1px solid rgba(55, 65, 81, 0.397);
}
